<ion-view view-title="Guia Eleitoral">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="candidato in candidatos" type="item-text-wrap" ng-click="candidatos_selecionados()">
        <img ng-src="/img/ben.png">
        <h2>{{candidato[1]}}</h2>
        <h3>Partido</h3>
      </ion-item>
    </ion-list>
   </ion-content>
   <button class="button icon-right ion-ios-play-outline button-balanced" id="comparar" style="display: none;">
     Comparar
   </button>
</ion-view>
