<ion-view view-title="Guia Eleitoral">
  <form name="caras">
  <ion-content>
    <div class="item item-divider">
      Selecione apenas <b>2</b> candidatos para a comparação.
    </div>
      <ion-list id="lista-comparacao">
<!--      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="candidato in candidatos" type="item-text-wrap" ng-click="candidatos_selecionados()">-->
        <ion-checkbox class="item-remove-animate item-avatar item-icone-right" ng-repeat="candidato in candidatos" ng-click="candidatos_selecionados()" ng-value="{{candidato[0]}}">
          <img ng-src="http://guiaeleitoral.esy.es/imagens/candidatos/{{candidato[2]}}">
          <h2>{{candidato[1]}}</h2>
          <h3>Partido</h3>
<!--      </ion-item>-->
        </ion-checkbox>
    </ion-list>
   <input type="text" ng-model="caras.candidato" />

   </ion-content>
   <button class="button ion-checkmark button-balanced" id="comparar" ng-click="candidatos_form(candidato)">
   </button>
   </form>
</ion-view>
