<ion-view view-title="Guia Eleitoral">
  <ion-content>
  <form name="lista-comparacao">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[0]}}</b>
            <div id="pergunta-0">
              <ion-radio type="radio" name="pergunta-0" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-0" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[1]}}</b>
            <div id="pergunta-1">
              <ion-radio type="radio" name="pergunta-1" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-1" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[2]}}</b>
            <div id="pergunta-2">
              <ion-radio type="radio" name="pergunta-2" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-2" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[3]}}</b>            
            <div id="pergunta-3">
              <ion-radio type="radio" name="pergunta-3" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-3" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[4]}}</b>
            <div id="pergunta-4">
              <ion-radio type="radio" name="pergunta-4" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-4" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[5]}}</b>
            <div id="pergunta-5">
              <ion-radio type="radio" name="pergunta-5" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-5" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[6]}}</b>
            <div id="pergunta-6">
              <ion-radio type="radio" name="pergunta-6" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-6" ng-value="0">Não</ion-radio>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box-question">
            <b>{{perguntas[7]}}</b>
             <div id="pergunta-7">
              <ion-radio type="radio" name="pergunta-7" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-7" ng-value="0">Não</ion-radio>
            </div>
          </div>
       </ion-slide>
       <ion-slide>
         <div class="box-question">
           <b>{{perguntas[8]}}</b>            
           <div id="pergunta-8">
              <ion-radio type="radio" name="pergunta-8" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-8" ng-value="0">Não</ion-radio>
            </div>
         </div>
       </ion-slide>
       <ion-slide>
         <div class="box-question">
           <b>{{perguntas[9]}}</b>
            <div id="pergunta-9">
              <ion-radio type="radio" name="pergunta-9" ng-value="1">Sim</ion-radio>
              <ion-radio type="radio" name="pergunta-9" ng-value="0">Não</ion-radio>
            </div>
         </div>
       </ion-slide>
     </ion-slide-box>
     <button class="button ion-checkmark button-balanced" ng-click="quiz_perguntas()">TESTE</button>
   </form>
 </ion-content>
</ion-view>
