<ion-view view-title="Histórico">
  <ion-content class="padding" style="background-color: #e6e6e6;" id="historico-content">
  	<center>
  	  <b>Atenção:</b> Alterações nas opiniões dos candidatos, não serão registradas nos históricos anteriores.
  	</center>
    <ion-list>
    <ion-item-group ng-repeat="data in historicos_datas" id="grupo-data-historico">
    <div id="box-historico">
      <div id="box-historico-divider">
      	<b><h4>{{data.data_historico}}</h4></b>
      </div>
  	</div>
  	<div ng-repeat="historico in historicos" ng-if="data.data_historico === historico.data_historico" id="box-historico">
  	  <div id="icone-remover-historico">
  	  	<a class="button button-icon icon ion-close" ng-click="remover_historico({{historico.id}})"></a>
  	  </div>
  	  <div id="img-estado-historico">
  	    <img ng-src="img/estados/{{historico.estado.toLowerCase()}}.png">
  	  </div>
  	  <div id="conteudo-historico">
  	    <b>Cargo: </b>{{historico.descricao_cargo}}<br/>
        <b>Estado: </b>{{historico.estado_nome}}
        <div ng-if="historico.score_resultado_1 > 0">
  	      <b>Max Score: </b> <b style="color: orange;">{{historico.score_resultado_1}}0%</b>
  	    </div>
  	  </div>
  	  <br/><br/>
  	  <div id="opcoes-historico" ng-if="historico.score_resultado_1 > 0">
  	  	<a class="button button-outline button-balanced icon ion-search" ng-click="resultados_historico({{historico.score_resultado_1}},{{historico.score_resultado_2}},{{historico.score_resultado_3}},{{historico.score_resultado_4}},{{historico.score_resultado_5}},{{historico.id_resultado_1}},{{historico.id_resultado_2}},{{historico.id_resultado_3}},{{historico.id_resultado_4}},{{historico.id_resultado_5}})">&nbsp;Resultados</a>
  	  	<br/>
  	  	<a class="button button-outline button-balanced icon ion-android-checkbox-outline" ng-click="respostas_historico({{historico.id}})">&nbsp;Minhas respostas</a>
  	  	<br/>
  	  </div>
  	  <div id="opcoes-historico" ng-if="historico.score_resultado_1 == 'undefined'">
  	  	<b style="color: red;">Nenhum candidato compatível.</b>
  	  </div>


  	  <div id="box-respostas-{{historico.id}}" class="box-respostas">
  	  	<div id="loading-gif">
  	  	  <img ng-src="img/loading.gif" />
  	  	</div>
  	  	<div id="tabela-respostas-usuario">
  	  	<div id="header-historico-respostas">
  	  		<div id="alternativas-historico" style="border: 0px;">
    	  	  &nbsp;
  	  		</div>
  	  		<div id="alternativas-historico">
  	  		  <b>Sim</b>
  	  		</div>
  	  		<div id="alternativas-historico">
  	  		  <b>Não</b>
  	  		</div>
            <div id="alternativas-historico">
              <b>Sem posição</b>
  	  		</div>
  	  	</div>
  	  	<div ng-repeat="x in respostas_usuario">
  	  	  <div id="perguntas-historico" style="background-color: #33cd5f; color: white; line-height: 40px;">
  	  	    <b>{{$index + 1}}</b>
  	  	  </div>
  	  	  <div id="respostas-historico">
  	  	  	<div ng-if="x.resposta == 1"><a class="button button-icon icon ion-checkmark" style="color: #33cd5f !important;"></a></div>
  	  	  </div>
  	  	  <div id="respostas-historico">
  	  	    <div ng-if="x.resposta == 0"><a class="button button-icon icon ion-checkmark" style="color: #33cd5f !important;"></a></div>
  	  	  </div>
  	  	  <div id="respostas-historico">
  	  	    <div ng-if="x.resposta == 2"><a class="button button-icon icon ion-checkmark" style="color: #33cd5f !important;"></a></div>
  	  	  </div>
  	  	</div>
  	  	</div>
  	  </div>
  	  <br/>
  	</div>
    </ion-item-group>
    </ion-list>
   </ion-content>
</ion-view>
