<ion-view view-title="Guia Eleitoral">
  <ion-content class="padding">
    <table id="tabela-comparativa">
      <tr>
        <td style="background-color: initial;">&nbsp;</td>
        <td align="center" class="coluna-fixa">
          <img ng-src="http://guiaeleitoral.esy.es/imagens/candidatos/{{concorrentes[1].foto}}" class="avatar-tabela">
          <br/>
          <b>{{concorrentes[1].nome}}</b>
        </td>
        <td align="center" class="coluna-fixa">
          <img ng-src="http://guiaeleitoral.esy.es/imagens/candidatos/{{concorrentes[2].foto}}" class="avatar-tabela">
          <br/>
          <b>{{concorrentes[2].nome}}</b>
        </td>
      </tr>
      <tr ng-repeat="(key , value) in respostas">
	<td class="coluna-fixa"><b>{{key}}</b></td>
        <td>
          <div ng-if="value[0] === 1">
            <b>Sim</b>
          </div>
	  <div ng-if="value[0] === 0">
            <b>Não</b>
          </div>	
        </td>
        <td>
          <div ng-if="value[1] === 1">
            <b>Sim</b>
          </div>
	  <div ng-if="value[1] === 0">
            <b>Não</b>
          </div>
        </td>
      </tr>
      </div>
    </table>
   </ion-content>
</ion-view>
