<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/jquery.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-bar class="bar bar-header bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <a class="button button-icon icon ion-ios-search-strong" id="button-search"></a>
    </ion-nav-bar>
    <ion-nav-view>
    </ion-nav-view>
    <form ng-controller="FixaCtrl">
    <div id="form-search">
      <div style="float: left; width: 100%;">
        <div class="item-input-wrapper" id="label-busca">
          <i class="icon ion-ios-search placeholder-icon" id="icon-lupa"></i>
          <input type="search" ng-model="searchval" placeholder="Procurar candidato" ng-enter="searchBackend();" id="input-busca">
          <i class="icon ion-ios-close placeholder-icon" id="icon-apagar"></i>  
        </div>
        <a class="button button-clear button-dark activated" id="cancelar-button">Cancelar</a>
      </div>
    </div>
    <ion-content id="busca-content">
    <div id="lista-inicial">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="candidato in candidatos" type="item-text-wrap" href="#">
        <img src="http://guiaeleitoral.esy.es/imagens/candidatos/{{candidato[2]}}" />
        <h2>{{candidato[1]}}</h2>
        <h3>Partido</h3>
      </ion-item>
    </ion-list>
    </div>
    </ion-content>
    </form>
  </body>
  <script>
    $("#button-search").click(function(){
      $("#form-search").slideDown();
      $("#busca-content").show();
    });

    $("#icon-apagar").click(function(){
      $("#input-busca").val("");
    });
  </script>
</html>
