.tab-titulo-unico ion-item a{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.tab-titulo-unico ion-item h2{
  line-height: 72px;
}

.tabs{
  bottom: 0px !important;
  position: absolute !important;
}

#comparar{
 position: fixed;
 bottom: 10%;
 right: 5%;
 z-index: 99;
}

#lista-comparacao .item-checkbox .checkbox{
  left: auto !important;
}
