.tab-titulo-unico ion-item a{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.tab-titulo-unico ion-item h2{
  line-height: 72px;
}

.tabs{
  bottom: 0px !important;
  position: absolute !important;
}
